---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} comment>
  <p>Translator / Content Creator</p>
  <p>
    My journey with Japanese media has been a long one, but it truly came alive in 2021 when I began learning the language. What started as a personal hobby during the quiet days of the pandemic became a way to rekindle a deep-seated passion. For me, it was about reconnecting with the stories I loved on a more authentic level.
  </p>
  <p>
    That passion for understanding eventually led me to pass the JLPT N2 in 2024, and I am now looking forward to tackling the N1.
  </p>
  <p>
    Through this site, I want to share the resources, methods, and moments of joy I've discovered. My mission is to help fellow enthusiasts who are learning for the love of it—to bridge the gap between textbook grammar and the genuine experience of enjoying anime, manga, and novels in their native language.
  </p>
  <p>
    My motto: 千里の道も一歩から。
  </p>
  <p>
    "A journey of a thousand miles begins with a single step."
  </p>
  <p>
   This reminds me that even the biggest tasks start with small, manageable actions. 
  </p>
  <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' variant='ahead' />

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>Watching anime and K-dramas</li>
    <li>Reading light novels, fanfiction, and visual novels</li>
  </ul>


</PageLayout>
